.cart {  /* Posicionamos el carrito a la derecha de la navbar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartItem { /* Le damos posicion a los items agregrados */
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartItem img {
    width: 200px;
}

li {
    width: 100%;
    font-size: 2em;
    color: #162938;
    text-align: center;
}



